<!DOCTYPE html>
<html>

<head>
    <%- include('../layouts/headLayout', {}) %>
        <link rel="stylesheet" type="text/css" href="/css/newpublic.css" />
        <link rel="stylesheet" type="text/css" href="/css/bookstore/bookstore.css" />
        <link rel="stylesheet" href="/lib/layui/css/layui.css" media="all">
        <link rel="stylesheet" type="text/css" href="/css/bookstore/mylayer.css" />
        <script src="/lib/layui/layui.js"></script>
</head>

<body>
    <%- include('../layouts/navLayout', {current: null, enterControl:1}) %>
        <div class="container">
            <div class="breadcrumb clearfix">
                <span>全部期刊</span>&nbsp;>&nbsp;
                <a href="" class="title"></a>
            </div>
            <div class="periodical-main periodical-main-single">
                <div class="periodical-main-line"></div>
                <div class="periodical-main-body clearfix">
                    <div class="periodical-book">
                        <img id="periodImg" src="https://via.placeholder.com/240x316" alt="">
                        <div class="single-btns clearfix">
                            <a data-uid="<%=viewModel.uid%>" data-openid="<%=viewModel.openId%>" target="_blank" class="single-btn read-online">在线阅读</a>
                            <%if(viewModel.user.isOrg == true){%>
                                <a href="javascript:;" class="single-btn single-btn-right" id="downloadBtn-org">下载阅读</a>
                                <script>
                                    $('#downloadBtn-org').click(function() {
                                        layer.msg('当前为机构账号，不支持此操作，请登录个人账号购买');
                                    })
                                </script>
                                <%}else{%>
                                    <a href="javascript:;" class="single-btn single-btn-right" id="downloadBtn">下载阅读</a>
                                    <%}%>
                        </div>
                    </div>
                    <div class="periodical-info" id="periodInfo">
                        <div class="periodical-top clearfix">
                            <h1 class="periodical-title"></h1>
                            <span class="periodical-time"></span>
                            <div class="periodical-share share">
                                <span class="periodical-share-text">分享</span>
                                <div class="periodical-share-more bdsharebuttonbox">
                                    <a href="#" class="periodical-share-item qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                    <a href="#" class="periodical-share-item weixin" data-cmd="weixin" title="分享到微信"></a>
                                    <a href="#" class="periodical-share-item tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                </div>
                            </div>                            
                            <span class="collectA periodical-collect" id="collectA">收藏</span>
                        </div>
                        <div class="periodical-detail">
                            <div class="periodical-detail-items clearfix">
                                <div class="periodical-detail-item periodical-detail-item-col1">
                                    <div class="periodical-detail-label">
                                        主&emsp;&emsp;办：
                                    </div>
                                    <div class="periodical-detail-content organizers"></div>
                                </div>
                                <div class="periodical-detail-item">
                                    <div class="periodical-detail-label">
                                        ISSN：
                                    </div>
                                    <div class="periodical-detail-content issn"></div>
                                </div>
                            </div>
                            <div class="periodical-detail-items clearfix">
                                <div class="periodical-detail-item periodical-detail-item-col1">
                                    <div class="periodical-detail-label">
                                        出版周期：
                                    </div>
                                    <div class="periodical-detail-content cycle"></div>
                                </div>
                                <div class="periodical-detail-item clearfix">
                                    <div class="periodical-detail-label">
                                        CN：
                                    </div>
                                    <div class="periodical-detail-content cn"></div>
                                </div>
                            </div>
                            <div class="periodical-detail-items clearfix">
                                <div class="periodical-detail-item periodical-detail-item-col1">
                                    <div class="periodical-detail-label">
                                        语&emsp;&emsp;种：
                                    </div>
                                    <div class="periodical-detail-content lang"></div>
                                </div>
                                <div class="periodical-detail-item">
                                    <div class="periodical-detail-label">
                                        创刊时间：
                                    </div>
                                    <div class="periodical-detail-content createTime"></div>
                                </div>
                            </div>
                        </div>
                        <div class="periodical-vip-read clearfix">
                            <span class="left">VIP尊享，本期免费在线阅读</span>
                            <a data-uid="<%=viewModel.uid%>" data-openid="<%=viewModel.openId%>" target="_blank" class="read-online right">立即阅读</a>
                        </div>
                        <div class="periodical-activity-tip periodical-activity-free clearfix">
                            <span class="left">在线阅读 限时免费</span>
                            <div class="countdown right">
                                仅剩<span class="day"></span>天<span class="hour"></span>时<span class="minute"></span>分<span class="second"></span>秒
                            </div>
                        </div>
                        <div class="periodical-vip-tip clearfix">
                            <span class="left text">开通VIP会员，尊享<i class="discount">5</i>折特惠</span>
                            <%if(viewModel.user.name == null){%>
                                <a class="right" href="/temp/userCenter/login">立即开通</a>
                                <%}else{%>
                                    <%if(viewModel.user.isOrg == true){%>
                                        <a id="openBtn-org" class="right">立即开通</a>
                                        <script>
                                            $('#openBtn-org').click(function() {
                                                layer.msg('当前为机构账号，不支持此操作，请登录个人账号进行相关个性化操作');
                                            })
                                        </script>
                                        <%}else{%>
                                            <a class="right" href="/personalCenter/vip#s2" target="_blank">立即开通</a>
                                            <%}%>
                                                <%}%>


                        </div>
                        <div class="single-order">
                            <div class="order-title">
                                电子版订阅
                            </div>
                            <div class="order-inputs">
                                <label class="singleprice">
                                    <input type="radio" name="order" data-type="1"><span class="vip-icon"></span>单&emsp;期：&nbsp;<span class="nowprice">¥ <i></i></span><span class="oldprice">(¥ <i></i>)</span>
                                </label>
                                <label class="yearprice">
                                    <input type="radio" name="order" data-type="2" checked><span class="vip-icon"></span>全&emsp;年：&nbsp;<span class="nowprice">¥ <i></i> </span><span class="oldprice">(¥ <i></i>)</span>，<span class="unitprice">¥ <i></i>/期，全年<span class="periodcount"></span>期
                                </label>
                                <a class="order-btn" id="orderBtn" data-isOrg="<%=viewModel.user.isOrg%>" target="_blank">订阅</a>
                            </div>
                        </div>
                    </div>
                    <!-- 停售期刊详情 -->
                    <div class="stopSellPeriodical periodical-info">
                        <div class="periodical-top clearfix">
                            <h1 class="periodical-title"></h1>
                            <span class="periodical-time"></span>
                            <div class="periodical-share">
                                <span class="periodical-share-text">分享</span>
                                <div class="periodical-share-more bdsharebuttonbox">
                                    <a href="#" class="periodical-share-item qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                    <a href="#" class="periodical-share-item weixin" data-cmd="weixin" title="分享到微信"></a>
                                    <a href="#" class="periodical-share-item tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                </div>
                            </div>
                            <span class="periodical-collect">收藏</span>
                        </div>
                        <div class="periodical-detail-item">
                            <div class="periodical-detail-label">
                                主 办：
                            </div>
                            <div class="periodical-detail-content organizers"></div>
                        </div>
                        <div class="periodical-detail-item">
                            <div class="periodical-detail-label">
                                出版周期：
                            </div>
                            <div class="periodical-detail-content cycle"></div>
                        </div>
                        <div class="periodical-detail-item">
                            <div class="periodical-detail-label">
                                语 种：
                            </div>
                            <div class="periodical-detail-content lang"></div>
                        </div>
                        <div class="periodical-detail-item">
                            <div class="periodical-detail-label">
                                ISSN：
                            </div>
                            <div class="periodical-detail-content issn"></div>
                        </div>
                        <div class="periodical-detail-item clearfix">
                            <div class="periodical-detail-label">
                                CN：
                            </div>
                            <div class="periodical-detail-content cn"></div>
                        </div>
                        <div class="periodical-detail-item">
                            <div class="periodical-detail-label">
                                创刊时间：
                            </div>
                            <div class="periodical-detail-content createTime"></div>
                        </div>
                    </div>
                    <div class="periodical-bar" style="margin-top:-10px;">
                        <img src="/images/bookstore/bookstore1.png" alt="">
                        <img class="qrcode" src="/images/bookstore/bookstore23.png" alt="">
                    </div>
                </div>
            </div>
            <div class="single-main clearfix">
                <div class="single-sidebar">
                    <div class="single-sidebar-title">
                        推荐阅读
                    </div>
                    <div class="single-sidebar-body" id="bookRecommendList"></div>
                </div>
                <div class="catalog">
                    <div class="catalog-tabs clearfix">
                        <a class="catalog-tab catalog-tab-select" href="#">本期目录</a>
                        <a class="catalog-tab" href="#" target="_blank">更多往期</a>
                    </div>
                    <div class="catalog-title">
                        <img src="/images/bookstore/bookstore4.png" alt="">
                    </div>
                    <div class="catalog-inputs clearfix">
                        <div class="catalog-inputs-left">
                            <select class="catalog-input-year" id="periodYear"></select>
                            <select class="catalog-input-month" id="periodMonth"></select>
                        </div>
                        <div class="catalog-inputs-right">
                            <select class="catalog-input-type">
                            <option value="fulltext">全文</option>
                            <option value="topic">主题</option>
                            <option value="title">篇名</option>
                            <option value="keyword">关键词</option>
                            <option value="author">作者</option>
                            <option value="workuunit">单位</option>
                            <option value="source">来源</option>
                            <option value="fund">基金</option>
                        </select>
                            <input class="catalog-input-search" type="text" placeholder="刊内搜索" />
                            <a id="literatureSearchBtn" class="catalog-input-search-btn" href="javascript:;"></a>
                        </div>
                    </div>
                    <ul class="catalog-items" id="catelog"></ul>
                </div>
            </div>
        </div>
        <%- include('../layouts/footerLayout', {}) %>
            <div style="display: none">
                <input type="hidden" value="<%=viewModel.user.name%>" id="username">
                <input type="hidden" value="" id="periodicalTitle">
                <input type="hidden" value="<%=viewModel.isVip%>" id="isVip">
                <input type="hidden" value="<%=viewModel.user.isOrg%>" id="isOrg">

            </div>
            <script src="/js/plugin/jquery.methods.js"></script>
            <script src="/js/detail/singlePeriodDetail.js"></script>
            <style>
                .bd_weixin_popup{
                    box-sizing: content-box;
                    padding: 20px;
                    height:300px !important;
                }
                .bd_weixin_popup .bd_weixin_popup_head{
                    text-align: center;
                }
                .bd_weixin_popup .bd_weixin_popup_foot{
                    text-align: center;
                }
            </style>
    <%- include('../components/collectionPop', { }) %>
</body>

</html>